
#first {
    width: 300px;
    float: left;
    height: 300px;
}
#n{
    text-align: center;
}
#second {
    width: 300px;
    float: left;
    height: 300px;
}
#book, #book1, #search{
    text-align: center;
    width: 50%;
}